.container {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: black solid;
    border-radius: 25px;
    margin-bottom: 10px;
}

.question-text {
    margin: 3px auto;
}

.range-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 60%;
}

.range {

}

.range-captions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3px;
}

.priority {
    border: black solid;
    border-radius: 25px;
}

.send {
    margin: 5px auto;
    width: 40%;
}


h1 {
    color: navy;
    margin: auto;
    width: 20px;
}

img {
    width: 350px;
}

